{% extends "layout.html" %}

{% block title %}
Sign up
{% endblock %}


{% block styles %}
.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.form-row {
  margin-bottom: 10px;
}

.signup-form button {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #5995DA;
  border: none;
  border-radius: 3px;
  padding: 10px 40px;
  cursor: pointer;
  display: flex;
  margin: 0 auto;
}

.signup-form button:hover {
  background-color: #76AEED;
}

.signup-form button:active {
  background-color: #407FC7;
}


{% endblock %}

{% block body %}



   <form action="{{ url_for('signup') }}" method="post" class="signup-form">

       <div class="form-row">
           <label for="username">Username                      </label>
           <input type="text" placeholder="Enter your username" name="username" required>
       </div>

       <div class="form-row">
           <label for="password">Password                       </Password></label>
           <input type="password" placeholder="Enter your password" name="password1" required>
       </div>

       <div class="form-row">
           <label for="password">Re-enter your password</Password></label>
           <input type="password" placeholder="Enter your password" name="password2" required>
       </div>

        <button>Create user</button>

   </form>

{% endblock %}
